<%= form_for @conn, page_path(@conn, :delete, 13), [method: :delete, as: :user], fn _ -> %>
  <div class="left-align">
    <%= submit "logout", class: "waves-effect waves-light btn red accent-4" %>
  </div>
<% end %>


<h1>Hello, <%= @current_user.role %>!</h1>
